<Html>

<head>
    <title>
        Application form
    </title>
</head>

<body bgcolor="Lightskyblue">
    <br>
    <br>
    <form>

        <label> Name </label>
        <input type="text" name="firstname" size="25" /> <br> <br>
        <label>
            <label> Email</label>
            <input type="text" name="firstname" size="25" /> <br> <br>
            <label>
                Address:
            </label>
            <table border="1">
                <tr>
                    <th>Division</th>
                    <th>District</th>
                    <th>Upozillz</th>
                </tr>
                <tr>
                    <td> <select>
                            <option value="Course">Select</option>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="M.Tech">M.Tech</option>
                        </select> </td>
                    <td> <select>
                            <option value="Course">Select</option>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="M.Tech">M.Tech</option>
                        </select> </td>
                    <td> <select>
                            <option value="Course">Select</option>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="M.Tech">M.Tech</option>
                        </select> </td>
                </tr>
            </table>

            <br>
            <br>
            Address Details:
            <br>
            <textarea cols="80" rows="5" value="address"></textarea>
            <br> <br>
            <label>

            Programming language: 
        <form action="/action_page.php" method="get">

              <input type="checkbox" name="vehicle1" value="Bike">
              <label for="vehicle1"> PHP</label> 
              <input type="checkbox" name="vehicle2" value="Car">
              <label for="vehicle2"> Python</label> 
              <input type="checkbox" name="vehicle3" value="Boat" checked>
              <label for="vehicle3"> Java</label><br><br>
        </form>
        <br>
          <table border="1">
                <tr>
                    <th>Exam</th>
                    <th>University</th>
                    <th>Board</th>
                    <th>Result</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td> <select>
                            <option value="Course">Select</option>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="M.Tech">M.Tech</option>
                        </select> </td>
                    <td> <select>
                            <option value="Course">Select</option>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="M.Tech">M.Tech</option>
                        </select> </td>
                    <td> <select>
                            <option value="Course">Select</option>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="M.Tech">M.Tech</option>
                        </select> </td>
                    <td> <select>
                            <option value="Course">Select</option>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="B.Tech">B.Tech</option>
                            <option value="MBA">MBA</option>
                            <option value="MCA">MCA</option>
                            <option value="M.Tech">M.Tech</option>
                        </select> </td>
                    <td> icon font awesome</td>
                </tr>
            </table>
<br>
            <form action="{% url 'submit' %}" method="POST" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="formFile" class="form-label">Applicant photo</label>
                    <input class="form-control" type="file" id="formFile" name="image" accept="image/*">
                </div>
            </form>
<br>
            <form action="{% url 'submit' %}" method="POST" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="formFile" class="form-label"> Applicant CV</label>
                    <input class="form-control" type="file" id="formFile" name="image" accept="image/*">
                </div>
            </form>
                Training :
            </label><br>
            <input type="radio" name="gender" value="male"> Male  
            <input type="radio" name="gender" value="female"> Female<br>
           
            <br>
            <br>
            <input type="button" value="Submit" />
    </form>
</body>

</html>